<table class="table table-bordered table-striped table-hover">
    <tbody>
    <tr>
        <th> Name </th>
        <th> Country </th>
        <th> Population </th>
        <th> Area </th>
    </tr>
    {{#each model as |city|}}
        <tr>
            <td>{{ city.name }}</td>
            <td>{{ city.country }}</td>
            <td>{{ city.population }}</td>
            <td>{{ city.area }} &#13218; </td>
        </tr>
    {{/each}}

    {{outlet}}
    </tbody>
</table>